<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Add headers
    #Header set Access-Control-Allow-Methods "GET"
    #Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    #Header set Pragma "no-cache"
    #Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"

    #Header set X-Content-Type-Options "nosniff"
    #Header set X-Frame-Options "DENY"
    #Header set Content-Security-Policy "frame-ancestors 'none'"

    # Enforce HTTPS connections
    #RewriteCond %{SERVER_PORT} 80 
    #RewriteRule ^(.*)$ https://www.snapdsk.com/$1 [R,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
